*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root{

    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

/* .sideAbout{
     margin-left: -4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 7rem;
    width: 200rem;
    justify-content: center;
    min-height: auto;
} */



.borderAbout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
   
}

.sideAbout{
 
    display: flex;
    align-items: center;
    padding: 0 9%;
    /* background: url(/image/me2.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
   
}

.col-1 {
    flex-basis: 90%;
    position: relative;
    margin-left:  50px;
    margin-left: 400px;

}

.col-1 h1{
    font-size: 60px ;
    font-weight: bold;
    margin-bottom: 15px;
}

.col-1 h2{
    font-size: 30px ;
    margin-bottom: 15px;
}

.col-1 h3{
    font-size: 20px ;

    margin-bottom: 4px;
}



.navbar2{
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.navbar2 a{
    text-align: center;
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
.navbar2 a:hover,
.navbar2 a.active{

    color: var(--main-color);
}

.navbar2 ul li {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: -380px;
}

.navbar2 img {
    width: 90px;
    height: 90px;
}

.navbar2 .certs{
   height: 110px;
}

.navbar2 .exps{
    height: 110px;
    width: 100px;
 }
 


.about-imgs {
   
    margin-top: 3rem;
    position: relative;
    left: 70rem;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-imgs img{
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.5);
    width: 115%;
    border-radius: 50%;
    border: .5rem solid var(--main-color);
}

/* .waves {

    height: -10vh;
    width: 100px;

} */

/* .borderAbout{

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
/* .waves img {
    position: relative;
    background-repeat: no-repeat;
    width: 100;
    height: 20rem;
    top: -2rem;
    left: -2rem;
    opacity: 0.3;
    border-radius: .8rem;
    object-fit: cover;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.5);
} */


.Education {
    background: var(--second-bg-color);
}
/* 
.borderAbout{
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.5);
    padding-left: 45rem;
    border: .2rem solid var(--main-color);
    top: 10rem;
    background-color: var(--second-bg-color);
    border-radius: .8rem;
    height: 80rem;
    
    
}
.borderAboutdesign{
 position: relative;
    padding: 2rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    height: 20rem;
    left: -45rem;
    width: 165.6rem;
}




.perso-info {
    border-left: .2rem solid var(--main-color);
    position: relative;
    top: 15rem;
    left: 30rem;
    font-size: 1.5rem;
    width: 45rem;
    
}


.perso-info p {
    font-size: 1.7rem;
    position: relative;
    right: -2.5rem;
    margin-bottom: 8px;
}

.perso-info h1 {

    position: relative;
    left: -28rem;
    top: 5rem;
}

.perso-info .section{
  
    margin-bottom: 20px;
}

.perso-info ul li {
    font-size: 1.7rem;
    position: relative;
    right: -3.9rem;
    margin-bottom: 8px;
}

.circle  {
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--main-color);
    left: 29.2rem;
    top: 16.6rem;
  }
  .circle2  {
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--main-color);
    left: 29.2rem;
    top: 1.6rem;
  } */

 

/*
.about-imgs .circle-spin{
  
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 130%;
    height: 130%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}*/